.categories-page {
    padding: 20px;
  }
  
  .categories-list {
    list-style: none;
    padding: 0;
  }
  
  .categories-list li {
    cursor: pointer;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    transition: opacity 0.3s;
    color: black; 
  }
  
  .categories-list li:hover {
    opacity: 0.8;
  }
  
  .category-lunch {
    background-color: #FFB6C1; 
  }
  
  .category-dinner {
    background-color: #FFDDC1; 
  }
  
  .category-breakfast {
    background-color: #C1E1C1; 
  }
  
  .category-drinks {
    background-color: #D0F0C0; 
  }
  
  .category-pasta {
    background-color: #FFCC99; 
  }
  
  .category-dessert {
    background-color: #F5B7B1; 
  }
  
  .category-default {
    background-color: #C1D3FF; 
  }
  
  .recipes-list {
    margin-top: 20px;
  }
  
  .recipes-list ul {
    list-style: none;
    padding: 0;
  }
  
  .recipes-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .recipes-list h3 {
    margin: 0;
  }
  
  .recipes-list p {
    margin: 5px 0 0;
  }
  